*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Borel", cursive;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background-color: #eee;
}

@keyframes navItemsAnimation {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes bounce {
  0%, 25%, 50%, 75%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-12px);
  }
}
.wrapper {
  margin: 0 auto;
  width: min(100%, 1200px);
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  color: rgb(227, 226, 226);
  background-color: rgba(16, 84, 88, 0.857);
  transition: opacity 0.3s ease-in-out, background-color 0.3s;
  z-index: 100;
}
.nav .logo-box {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.2em 1em;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}
.nav .logo-box__img {
  transition: color 0.3s;
}
.nav .logo-box__img .fa-car-tunnel {
  font-size: 3rem;
}
.nav .logo-box__name {
  margin-top: 0.55em;
  margin-left: 0.5em;
  font-size: 2rem;
  font-family: "Borel", sans-serif;
}
.nav .logo-box__underline {
  position: relative;
  top: -15px;
  width: 100%;
  height: 3px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  transition: width 0.3s;
}
.nav .logo-box:hover .logo-box__underline {
  width: 0;
}
.nav .logo-box:hover .logo-box__img {
  color: rgb(0, 43, 91);
}
.nav .logo-box:hover .logo-box__name-text {
  color: rgb(0, 43, 91);
}
.nav__items {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, rgb(0, 43, 91) 7%, rgb(26, 95, 122) 36%, rgb(21, 152, 149) 73%, rgb(87, 197, 182) 100%);
  transform: translateX(100%);
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  z-index: 100;
}
.nav__items--active {
  transform: translateX(0);
}
.nav__item {
  position: relative;
  display: block;
  margin: 0.5em 0;
  padding: 0.5em 2em;
  font-size: 2.8rem;
  font-weight: 200;
  color: rgb(227, 226, 226);
  box-shadow: inset 0 0 0 0 #54b3d6;
  text-decoration: none;
}
.nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  transform: scaleY(0);
  transition: transform 0.3s;
}
.nav__item:hover::before {
  transform: scale(1);
}
.nav .burger-btn {
  position: fixed;
  right: 0;
  padding: 0.5em 1em;
  font-size: 3rem;
  color: rgb(227, 226, 226);
  background: none;
  border: 1px solid transparent;
  overflow: visible;
  transition: color 0.3s;
  cursor: pointer;
  z-index: 1000;
}
.nav .burger-btn:hover {
  color: rgb(0, 43, 91);
}

.nav-items-animation {
  animation: navItemsAnimation 1s both;
  transition: opacity 0.3s ease-in-out, transform 0.3s;
}

.nav-transparent {
  opacity: 0.7;
}

.header {
  position: relative;
  min-height: 98vh;
  min-height: 98dvh;
  background: linear-gradient(0deg, rgba(87, 197, 182, 0.45) 42%, rgba(26, 95, 122, 0.85) 100%), url("../img/header-big.jpg");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.header::before, .header::after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 50%;
  height: 35px;
  background-color: rgb(238, 238, 238);
}
.header::before {
  left: -50px;
  transform: skew(45deg);
}
.header::after {
  right: -50px;
  transform: skew(-45deg);
}
.header__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6em;
  padding: 1em;
  width: 100%;
  height: 30%;
}
.header__heading {
  font-size: 3rem;
  font-weight: 200;
  text-align: center;
  letter-spacing: 1px;
  color: rgb(227, 226, 226);
}
.header__underline {
  margin: 0.8em;
  width: 80%;
  height: 1px;
  background-color: rgb(227, 226, 226);
  border-radius: 8px;
}
.header__text {
  font-size: 1.3rem;
  font-weight: 400;
  color: rgb(227, 226, 226);
}
.header__bottom-arrow-box {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
}
.header .chevrons-down {
  width: 65px;
  height: 65px;
}
.header .bounce {
  animation: bounce 2s infinite;
}

main {
  overflow-x: hidden;
}
main .section-title {
  margin: 1.5em 0.5em;
  font-size: 2.8rem;
  font-weight: 400;
  text-align: center;
  color: rgb(0, 43, 91);
}
main .offers {
  margin-top: 5em;
}
main .offers__box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0.5em 1.2em;
}
main .offers__card {
  position: relative;
  margin: 1.5em;
  width: 450px;
  height: 450px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-align: center;
  overflow: hidden;
  transition: background-color 0.3s;
}
main .offers__card:hover {
  background-color: rgba(16, 84, 88, 0.857);
}
main .offers__card:hover .offers__text {
  color: rgb(227, 226, 226);
}
main .offers__card:hover .offers__img {
  transform: scale(1.05);
}
main .offers__img {
  position: absolute;
  top: 0;
  height: 60%;
  width: 100%;
  background-size: cover;
  background-position: center;
  transform-origin: center;
  transition: transform 0.3s;
}
main .offers__img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 43, 91, 0.3) 0%, rgba(26, 95, 122, 0.3) 20%, rgba(21, 152, 149, 0.3) 61%, rgba(87, 197, 182, 0.3) 86%);
  z-index: 1;
}
main .offers__img--first {
  background-image: url("../img/short-term.jpg");
}
main .offers__img--second {
  background-image: url("../img/long-term.jpg");
}
main .offers__img--third {
  background-image: url("../img/moto.jpg");
}
main .offers__img--fourth {
  background-image: url("../img/delivery.jpg");
}
main .offers__text {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  width: 100%;
  height: 40%;
  text-align: center;
  transition: color 0.3s;
  z-index: 10;
}
main .offers__text p {
  position: relative;
  top: -15px;
}
main .offers__title {
  font-size: 1.9rem;
  font-weight: 200;
}
main .offers__link {
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  color: rgb(0, 43, 91);
}
main .fleet {
  margin-top: 5em;
}
main .fleet__box {
  margin-top: 5em;
}
main .fleet__option {
  margin: 2em 1.5em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  overflow: hidden;
}
main .fleet__option-img {
  height: 270px;
  width: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
main .fleet__option-info {
  padding: 1.1em;
}
main .fleet__option-heading {
  margin-bottom: 0.2em;
  font-size: 3.5rem;
  font-weight: 300;
}
main .fleet__option-text {
  margin-bottom: 0.5em;
  font-size: 1.6rem;
}
main .fleet__option-description {
  margin-top: 1.3em;
  width: 50%;
}
main .fleet__option-description span {
  display: block;
}
main .fleet__option-btn {
  margin-top: 1.3em;
  padding: 0.8em;
  width: 100%;
  font-size: 1.4rem;
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(21, 152, 149);
  border-radius: 8px;
  transition: background-color 0.3s;
  cursor: pointer;
}
main .fleet__option-btn:hover {
  background-color: rgb(26, 95, 122);
}
main .reservation {
  position: relative;
  overflow: hidden;
}
main .reservation__box {
  margin-top: 1em;
  padding: 1em;
}
main .reservation__form {
  display: flex;
  flex-direction: column;
  padding: 2em;
  background-color: rgb(238, 238, 238);
}
main .reservation__form-label {
  margin-bottom: 0.5em;
}
main .reservation__form-input {
  margin-bottom: 2em;
  padding: 0.6em 1.2em;
  width: 100%;
  font-size: 1.5rem;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
}
main .reservation__form-button {
  margin: 1.2em 0;
  padding: 1em;
  color: white;
  background-color: rgb(21, 152, 149);
  border-radius: 8px;
  border: none;
  transition: background-color 0.3s;
  cursor: pointer;
}
main .reservation__form-button:hover {
  background-color: rgb(26, 95, 122);
}
main .newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4em 0;
  padding: 1.5em;
  width: 100%;
  height: 500px;
  text-align: center;
  background-color: rgba(16, 84, 88, 0.857);
}
main .newsletter__text {
  margin-bottom: 4em;
  font-size: 3rem;
  font-weight: 200;
  color: rgb(255, 255, 255);
}
main .newsletter__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .newsletter__form input {
  width: 90%;
  height: 40px;
}
main .newsletter__form button {
  padding: 1.2em 2em;
  margin-top: 2em;
  font-weight: bold;
  color: rgb(26, 95, 122);
  background-color: rgb(238, 238, 238);
  border: none;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}
main .newsletter__form button:hover {
  background-color: rgb(0, 43, 91);
  color: rgb(255, 255, 255);
}
main .contact {
  margin-top: 5em;
}
main .contact__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2em;
}
main .contact__box-element {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 1.8em 3.5em;
}
main .contact__box-element i {
  padding: 0.8em;
  font-size: 3.5rem;
  color: rgb(26, 95, 122);
  transition: 0.3s;
}
main .contact__box-element i:hover {
  color: rgb(21, 152, 149);
  transform: scale(1.05);
}
main .contact__box-title {
  font-size: 2rem;
  text-transform: uppercase;
}
main .contact__box-text {
  margin-top: 0.5em;
  font-size: 1.4rem;
  color: rgb(62, 62, 62);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7em;
  padding: 1em 0;
  background-color: rgb(21, 152, 149);
}
.footer__box {
  text-align: center;
  width: 100%;
}
.footer__box-icons {
  width: 100%;
  font-size: 2.6rem;
}
.footer__box-icons i {
  padding: 0 0.8em;
  color: rgb(255, 255, 255);
  transition: 0.3s;
  cursor: pointer;
}
.footer__box-icons i:hover {
  color: rgba(16, 84, 88, 0.857);
  transform: scale(0.9);
}
.footer__box-description {
  bottom: 0;
  margin-top: 1.5em;
  font-weight: 400;
  color: white;
}

@media (min-width: 768px) {
  .nav .logo-box {
    padding: 0.5em 2.5em;
  }
  .nav .logo-box__img .fa-car-tunnel {
    font-size: 5rem;
  }
  .nav .logo-box__name {
    font-size: 3.5rem;
  }
  .nav .logo-box__underline {
    top: -20px;
  }
  .nav__item {
    font-size: 4rem;
  }
  .nav .burger-btn {
    right: 0;
    padding: 0.8em 1.2em;
    font-size: 4.2rem;
  }
  .header__box {
    margin-top: 10em;
  }
  .header__heading {
    font-size: 4.5rem;
    letter-spacing: 4px;
  }
  .header__underline {
    margin: 1.1em;
  }
  .header__text {
    font-size: 2rem;
  }
  .header .chevrons-down {
    width: 95px;
    height: 95px;
  }
  main .section-title {
    font-size: 3.8rem;
  }
  main .offers__box {
    margin-top: 3em;
  }
  main .offers__card {
    height: 550px;
  }
  main .offers__title {
    font-size: 2.5rem;
  }
  main .offers__text p {
    font-size: 2rem;
  }
  main .offers__link {
    font-size: 2.1rem;
  }
  main .fleet__option {
    display: flex;
  }
  main .fleet__option-img {
    width: 60%;
  }
  main .newsletter {
    padding: 2.5em;
  }
  main .newsletter__text {
    font-size: 4rem;
  }
  main .newsletter__form button {
    padding: 1em 3em;
    font-size: 1.7rem;
  }
  main .contact__box {
    flex-direction: row;
    align-items: flex-start;
  }
  main .contact__box-element i {
    font-size: 4rem;
  }
  main .contact__box-title {
    font-size: 2.2rem;
  }
  main .contact__box-text {
    font-size: 1.6rem;
  }
}
@media (min-width: 992px) {
  .nav__items {
    flex-direction: row;
    justify-content: flex-end;
    right: 0;
    padding: 0 em;
    width: auto;
    height: auto;
    background: none;
    transform: translateX(0);
  }
  .nav .logo-box__img .fa-car-tunnel {
    font-size: 4rem;
  }
  .nav .logo-box__name {
    font-size: 3rem;
  }
  .nav__item {
    padding: 0.5em 1.2em;
    font-size: 3rem;
    transition: color 0.3s;
  }
  .nav__item::before {
    display: none;
  }
  .nav__item:hover {
    color: #002b5b;
  }
  .nav .burger-btn {
    display: none;
  }
  .header__heading {
    font-size: 5.2rem;
    letter-spacing: 4px;
  }
  .header__underline {
    margin: 1.3em;
  }
  .header__text {
    font-size: 2.5rem;
  }
  .header .chevrons-down {
    width: 95px;
    height: 95px;
  }
  main .fleet__option {
    align-items: center;
    height: 350px;
  }
}/*# sourceMappingURL=main.css.map */