$pure-white: rgb(255, 255, 255);
$creme-white: rgb(238, 238, 238);
$darker-white: rgb(227, 226, 226);
$teal-light: rgb(87, 197, 182);
$teal-dark: rgb(21, 152, 149);
$navy-light: rgb(26, 95, 122);
$navy-dark: rgba(16, 84, 88, 0.857);
$darker-navy: rgb(0, 43, 91);
